@using JatraApplication.Models.Calendar
@model CalendarData

@{
    CalendarData calendarInfo = ViewBag.calendarInfo;
    int fd = 24334;
}

@*<h1>@Model.Year Calendar</h1>
*@@*
@foreach (var month in Model.Months)
{*@
    @*<h2>@month.Name</h2>*@
    <table>
        <tr>
            <th>Sun</th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
        </tr>
        @{
            //DateTime firstDayOfMonth = new DateTime(Model.Year, DateTime.ParseExact(month.Name, "MMMM", CultureInfo.CurrentCulture).Month, 1);
            //DateTime currentDate = firstDayOfMonth.AddDays(-(int)firstDayOfMonth.DayOfWeek);

            //while (currentDate.Month == firstDayOfMonth.Month)
            //{
            //    <tr>
            //        @for (int i = 0; i < 7; i++)
            //        {
            //            <td>
            //                @if (currentDate.Month == firstDayOfMonth.Month)
            //                {
            //                    <strong>@currentDate.Day</strong>
            //                    <ul>
            //                        @foreach (var day in month.Days)
            //                        {
            //                            if (day.Date == currentDate)
            //                            {
            //                                foreach (var evnt in day.Events)
            //                                {
            //                                    <li>@evnt</li>
            //                                }
            //                            }
            //                        }
            //                    </ul>
            //                }
            //                currentDate = currentDate.AddDays(1);
            //            </td>
            //        }
            //    </tr>
            //}
        }
    </table>
@*}*@
