@using JatraApplication.Models.DatabaseModels;
@{
    JatraDbContext _context = new JatraDbContext();
}

<style>
    .sidebar-height {
        height: 460px;
    }
</style>

<div class="col-3 overflow-auto sidebar-height">
    <ul class="list-group">

        <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">
            Upcoming Events
        </li>
        @{
            foreach (var i in _context.Events.ToList())
            {
                var date = (i.EventStartDate.ToString("MM / dd / yyyy"));
                <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center" >
                    <a href="#" data-id="@i.EventId" class="text-primary" style="text-decoration:none;">
                        @i.EventName
                    </a>

                </li>

                
            }
        }
        <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
            <a href="#" class="text-primary" style="text-decoration:none;">
                HaibiDay
            </a>

        </li>

        <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
            <a href="#" class="text-primary" style="text-decoration:none;">
                Hey Sultan
            </a>

        </li>
        <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
            <a href="#" class="text-primary" style="text-decoration:none;">
                HaibiDay
            </a>

        </li>

        <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
            <a href="#" class="text-primary" style="text-decoration:none;">
                Hey Sultan
            </a>

        </li>

        
    </ul>
</div>



